@font-face {
  font-family: "Open";
  src: url("../fonts/Open/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSemiBold";
  src: url("../fonts/Open/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "OpenLight";
  src: url("../fonts/Open/OpenSans-Light.ttf");
}
:root {
  --modal-duration: 0.8s;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
.homepage-header {
  display: flex;
  position: absolute;
  z-index: 1;
  margin-top: 1em;
  left: 0;
  width: 100%;
}
@media all and (max-width: 1399px) {
  .homepage-header {
    flex-direction: column;
  }
}

.homepage-main {
  position: relative;
  margin-bottom: 10em;
}

.main-navbar {
  font-family: "OpenSemiBold";
  display: flex;
  flex-direction: column;
}
.main-navbar-redirection {
  display: none;
  align-self: center;
  background-color: #D3573C;
  height: fit-content;
  width: fit-content;
  padding: 0em 0.6em 0em 0.6em;
  border-radius: 0.2em;
  position: fixed;
  top: 0.5em;
  color: black;
}
.main-navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding-inline-start: 0;
  color: #901C1C;
}
.main-navbar-list-clicked {
  background-color: #901C1C !important;
  color: white !important;
}
.main-navbar-list li {
  border: #FAFAFA solid 2px;
  border-radius: 1em;
  padding: 0em 0.3em 0em 0.3em;
}
.main-navbar-list li a {
  color: inherit !important;
  font-size: medium;
}
@media all and (max-width: 1399px) {
  .main-navbar-list li a {
    font-size: 0.9em;
  }
}
@media all and (max-width: 767px) {
  .main-navbar-list li a {
    padding-inline-start: 0;
    font-size: 0.8em;
  }
}

.header-logo {
  margin-top: auto;
  justify-content: center;
  width: fit-content;
  margin-right: 2em;
  margin-left: 0.8em;
}

select option[value=date] {
  font-size: large;
  color: yellow;
  border: 3px solid white;
}
select option[value=date]::after {
  border-top: 3px solid white;
  background-color: white;
  content: "after";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.media-contenant {
  position: relative;
  top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}
@media all and (max-width: 1399px) {
  .media-contenant {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 767px) {
  .media-contenant {
    grid-template-columns: repeat(1, 1fr);
  }
}

.media-card {
  display: block;
  flex-direction: column;
  align-items: center;
}
.media-card-page-display {
  width: 18em;
  margin-left: auto;
  margin-right: auto;
}

.banner-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: #901C1C;
}
.banner-media-likes {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.portrait-container {
  width: 11em;
  height: 11em;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
@media all and (max-width: 767px) {
  .portrait-container {
    width: 8em;
    height: 8em;
  }
}

.contact-button {
  color: white;
  background-color: #901C1C;
  border-radius: 0.3em;
  border: 0;
  border-color: #901C1C;
  padding: 1em;
  font-size: large;
  cursor: pointer;
}

body {
  font-family: "Open";
  font-size: 1.5em;
  scroll-behavior: smooth;
}
@media all and (max-width: 767px) {
  body {
    font-size: 1em;
  }
}

a {
  text-decoration: none;
}

.title {
  font-family: "OpenLight";
  position: absolute;
  right: 1em;
  width: fit-content;
  color: #901C1C;
}
@media all and (max-width: 1399px) {
  .title {
    margin-block-start: 0.4em;
  }
}
@media all and (max-width: 767px) {
  .title {
    font-size: 1em;
    margin-top: 1.5em;
  }
}

.logo {
  width: 9em;
}
@media all and (max-width: 767px) {
  .logo {
    width: 8em;
  }
}

.section-artists {
  position: relative;
  top: 8em;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
@media all and (max-width: 1399px) {
  .section-artists {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 767px) {
  .section-artists {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-artists {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}
.card-artists p {
  text-align: center;
  line-height: 0.6em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
@media all and (max-width: 767px) {
  .card-artists p {
    line-height: initial;
  }
}
.card-artists-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-name {
  color: #D3573C;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
}

.artist-name-contact {
  text-align: start;
}

.artist-location {
  color: #901C1C;
  font-size: medium;
}

.artist-tagline {
  font-size: small;
}

.artist-price {
  color: #525252;
  font-size: small;
}

.artist-tags {
  width: auto !important;
  padding: 0;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  justify-content: flex-start;
}

.photographer-main {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 5em;
}
@media all and (max-width: 767px) {
  .photographer-main {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }
}

.photographer-image {
  width: auto;
  height: 12em;
  border-radius: 0.3em;
}

.image-container {
  background-size: cover;
  border-radius: 0.3em;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.image-container-dialog {
  width: 25em;
  height: 25em;
}
@media all and (max-width: 767px) {
  .image-container-dialog {
    width: 13em;
    height: 13em;
  }
}

.photographer-section-contact {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em 2em 1em 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #FAFAFA;
}
@media all and (max-width: 767px) {
  .photographer-section-contact {
    padding: 1em 1em 0.5em 1em;
  }
}

.contact-div {
  display: flex;
  flex-direction: row-reverse;
}
@media all and (max-width: 1399px) {
  .contact-div-button {
    position: fixed;
    bottom: 10%;
    left: calc(50% - 80px);
    width: 160px;
    z-index: 1;
  }
}

.contact-text {
  margin-right: 2em;
}
@media all and (max-width: 767px) {
  .contact-text {
    margin-right: 0em;
  }
}

.photographer-belowElements {
  position: fixed;
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
  background-color: #D3573C;
  bottom: -0.2em;
  right: 3em;
  border-radius: 0.3em;
  font-weight: bold;
  width: 12em;
}
@media all and (max-width: 1399px) {
  .photographer-belowElements {
    display: none;
  }
}

.modal-initial {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #D3573C;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

.text-control {
  margin: 0;
  width: 100%;
  border-radius: 0.3em;
  font-size: 20px;
  height: 2em;
  border: none;
}

.textarea-control {
  height: 6em;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7em;
}
.modal-header h1 {
  margin: 0;
}
.modal-header button {
  font-size: 2.3em;
  color: white;
  background: none;
  border: none;
  align-self: start;
  cursor: pointer;
}

.formData {
  margin-bottom: 0.7em;
}

.order {
  display: flex;
  flex-direction: row;
  height: 2em;
}

.order-by {
  color: white;
  background-color: #901C1C;
  padding: 0.5em;
  border-color: #901C1C;
  border-radius: 0.3em;
  width: fit-content;
  height: fit-content;
  margin-left: 0.5em;
  z-index: 1;
}

.order-by-dropdown {
  display: none;
}

.order-by-element {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  text-align: start;
}

.dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  border: none;
  align-items: center;
  color: #901C1C;
}
.dialog button {
  cursor: pointer;
  border: none;
  color: inherit;
  background: none;
  font: inherit;
}
.dialog-arrow-left {
  font-size: 1.5em !important;
  margin-right: 1.5em;
}
.dialog-right {
  margin-left: 1.5em;
  font-size: 1.5em !important;
}
.dialog-close {
  position: relative;
  bottom: 9em;
  left: -1.2em;
}

.formulaire-alerte {
  font-size: small;
}

/*# sourceMappingURL=style.css.map */
