@font-face {
    font-family: "Open";
    src: url("../fonts/Open/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSemiBold";
    src: url("../fonts/Open/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "OpenLight";
    src: url("../fonts/Open/OpenSans-Light.ttf");
}


body {
    font-family: "Open";
    font-size: 1.5em;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    // &:hover {
    //     text-decoration: none;
    // }
}

