.contact-button {   
    color: white;
    background-color: $color-site-1;
    border-radius: 0.3em;
    border: 0;
    border-color: $color-site-1;
    padding: 1em;
    font-size: large;
    cursor: pointer;
}

