.homepage-header {
    display: flex;
    position: absolute;
    z-index: 1;
    margin-top: 1em;
    left: 0;
    width: 100%;
    @include medium-screen {
        flex-direction: column;
    }
}

.homepage-main {
    position: relative;
    margin-bottom: 10em;
}

.main-navbar {
    font-family: "OpenSemiBold";
    display: flex;
    flex-direction: column;
    &-redirection {
        display: none;
        align-self: center;
        background-color: $color-site-2;
        height: fit-content;
        width: fit-content;
        padding: 0em 0.6em 0em 0.6em;
        // font-size: larger;
        border-radius: 0.2em;
        position: fixed;
        top: 0.5em;
        color: black;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        padding-inline-start: 0;
        & li {
            border: $color-site-3 solid 2px;
            border-radius: 1em;
            padding: 0em 0.3em 0em 0.3em;
            & a {
                color: $color-site-1!important;
                font-size: medium;
                @include medium-screen {
                    font-size: 0.9em;
                } 
                @include small-screen {
                    padding-inline-start: 0;
                    font-size: 0.8em;
                } 
            }
        }
    }
}

.header-logo {
    // margin-bottom: auto;
    margin-top: auto;
    justify-content: center ;
    width: fit-content;
    margin-right: 2em;
    margin-left: 0.8em;
}

select option[value="date"] {
    font-size: large;
    color: yellow;
    border: 3px solid white;
    &::after {
    border-top: 3px solid white;
    background-color: white;
    content: 'after';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    }
}

.media-contenant {
    position: relative;
    top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    @include medium-screen {
        grid-template-columns: repeat(2, 1fr); 
    }
    @include small-screen {
        grid-template-columns: repeat(1, 1fr);
    }
}

.media-card {
    display: block;
    flex-direction: column;
    align-items: center;
    &-photographer {
        width: 18em;
        margin-left: auto;
        margin-right: auto;
    }
}

.banner-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: $color-site-1;
}

.portrait-container {
    width: 11em;
    height: 11em;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    // overflow: hidden;
    @include small-screen {
        width: 8em;
        height: 8em;
    }
}

