$color-site-1: #901C1C;
$color-site-2: #D3573C;
$color-site-3: #FAFAFA;
$color-site-4: #525252;

:root {
    --modal-duration: 0.8s;
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }
